<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://home.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://home.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>班级网站</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
<div class="big">
  {insert name="getHead"}
  <!--subnav-->
   <div class="subnav">
     <p><a href="index.php">首页</a>&nbsp;>>&nbsp;<a href="class_list.php">班级网站</a></p>
   </div>
  <!--subnav end-->
  <!--list_page_main-->
   <div class="class_main">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="grade">
  <tr>
    <td width="70" height="30" align="center">一年级</td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td width="52" align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
  <tr>
    <td width="70" height="30" align="center">二年级</td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
  <tr>
    <td width="70" height="30" align="center">三年级</td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
  <tr>
    <td width="70" height="30" align="center">四年级</td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
  <tr>
    <td width="70" height="30" align="center">五年级</td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
  <tr>
    <td width="70" height="30" align="center">六年级</td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">一班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">二班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">三班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">四班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">五班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">六班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">七班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">八班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">九班</a></td>
    <td align="center"><a href="http://home.wmw.cn/" target="_blank">十班</a></td>
  </tr>
</table>
 
    <div class="clear"></div>  
   </div>
  <!--list_page_main end-->
  {insert name="getFoot"}
 <div class="clear"></div>  
</div>
</body>
</html>
