<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$system['name']}</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/pic_css.css" type="text/css" />
<script type="text/javascript" language="javascript" src="./admin/js/tupian.js"></script>
<script type=text/javascript src="js/carousel-chart.js"></script>
<script type=text/javascript src="js/jquery-1.4.2.min.js"></script>
</head>

<body>
<div class="big">
  {insert name="getHead"}
  <!--main-->
  <div class="main">
    <div class="main_left">
       <!-- 公告栏 -->
       {if !empty($static_list.notice_list)}
       <div class="bulletin_board">
         <h4>{$static_list.notice_list.class_info.class}<span style="padding-left:130px;"><a href="class.php?id=1" target="_self" title="更多">more</a></span></h4>
         <div class="bullentin_board_center">
            <ul>
             {foreach from=$static_list.notice_list.datas item=news}
             	<li>
             		<a href="news.php?id={$news.id}&menuid={$news.uid}" title="{$news.title_all}">{$news.title}</a>
             	</li>
             {/foreach}
            </ul>
         </div>
         <div class="bullentin_board_bottom"></div>
       </div>
       {/if}
       <!-- 领导班子 -->
       {if !empty($static_list.leader_list)}
       <div class="bulletin_board">
         <h4>{$static_list.leader_list.class_info.class}<span><a href="class.php?id={$static_list.leader_list.class_info.id}" target="_self" title="更多">more</a></span></h4>
         <div class="bullentin_board_center_Leadership">
         {foreach from=$static_list.leader_list.datas item=news}
           <dl>
             <dt>
             	<a href="news.php?id={$news.id}&menuid={$news.uid}" title="{$news.title}" target="_self"><img src="{$news.pictitle}"  width="176" height="114"/></a>
             </dt>
           </dl>
           <div style="display:block; width:170px; line-height:22px; padding-left:10px;word-wrap:break-word;word-break:break-all; ">
          	 <p><a href="news.php?id={$news.id}&menuid={$news.uid}" title="{$news.title}" target="_self"  style="hover:text-decoration:underline;color:#000000;">{$news.content}</a></p>
           </div>
          {/foreach}
         </div>
         <div class="bullentin_board_bottom"></div>
       </div>
       {/if}
       
       <div class="bulletin_board">
         <h4>用户登录</h4>
         <div class="bullentin_board_center_login">
           <img src="images/home.jpg"/>
           <p><a href="http://home.wmw.cn" style="border:none;" target="_blank"><img src="images/enter.jpg"/></a></p>
         </div>
         <div class="bullentin_board_bottom"></div>
       </div>
    </div>
    
    <div class="main_right">
    <!--main_right_yi-->
      <div class="main_right_yi">
         <div class="lht">
           <div class="lht_top"></div>
           <div class="lht_center">
				<!-- 幻灯片 -->
				<div style="OVERFLOW: visible" class="center_class">
					<div class="cc">
					  <div id="banner" class="banner">
						<div id="banner_bg"></div>
						<ul>
						  <li class="on">1 </li>
						  <li>2 </li>
						  <li>3 </li>
						  <li>4 </li>
						  <li>5 </li>
						  <li>6 </li>
						</ul>
						<div id="banner_list" class="banner_list">
						{if !empty($static_list.hdimg_list)}
				         {foreach from=$static_list.hdimg_list.datas item=val}
				         	<a href="news.php?id={$val.id}" title="{$val.title}"><img src="{$val.pictitle}"/></a>
				         {/foreach}
	         			{/if}
					    </div>
					  </div>
					</div>
				</div>
				<script language="javascript">show('banner');</script>
           </div>
           <div class="lht_bottom"></div>
         </div>
         <div class="news">
           <div class="news_top">
             <h4>校园新闻</h4>
           </div>
           <div class="news_center">
             <ul>
               {foreach from=$zj_news item=news}
               	  <li><a href="news.php?id={$news.id}&menuid={$news.uid}" title="{$news.title_all}">{$news.title}</a></li>
               {/foreach}
             </ul>
           </div>
           <div class="news_bottom"></div>
         </div>
         <div class="clear"></div>
      </div>
      <!--main_right_yi end-->
      <!--main_right_er-->
      <div class="main_right_er">
		{if !empty($static_list.dy_list)}      	
        <div class="column">
          <h4>{$static_list.dy_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.dy_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
        
        {if !empty($static_list.dq_list)}      	
        <div class="column" style="margin:0px;">
          <h4>{$static_list.dq_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.dq_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
      <div class="clear"></div>     
      </div>
      <!--main_right_er end-->
      <!--campus_style-->
      <div class="campus_style">
         <div class="campus_style_top">
           <h4>校园风采</h4>
         </div>
         <div class="campus_style_center">
         <div id="picnewslist">
	         {if !empty($pic_news_content)}
		         {foreach from=$pic_news_content item=val}
		         	<a href="news.php?id={$val.id}" title="{$val.title}"><img src="{$val.pictitle}" width="127" height="85"/></a>
		         {/foreach}
	         {/if}
           </div>
           <script>new Marquee("picnewslist","left",5,680,100,60,0,0,120)</script> 
           </div>
         
         <div class="campus_style_bottom"></div>
      <div class="clear"></div>  
      </div>
      <!--campus_style end-->
      <!--main_right_er-->
      <div class="main_right_er">
      	{if !empty($static_list.educate_list)}      	
        <div class="column">
          <h4>{$static_list.educate_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.educate_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
        {if !empty($static_list.student_list)}      	
        <div class="column" style="margin:0px;">
          <h4>{$static_list.student_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.student_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
        {if !empty($static_list.family_list)}      	
        <div class="column">
          <h4>{$static_list.family_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.family_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
        {if !empty($static_list.tskz_list)}      	
        <div class="column" style="margin:0px;">
          <h4>{$static_list.tskz_list.class_info.class}</h4>
          <ul>
          	{foreach from=$static_list.tskz_list.datas item=news}
            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
            {/foreach}
          </ul>
        </div>
        {/if}
        <div class="clear"></div>
        {if !empty($settings_list)}
        	{foreach from=$settings_list item=newslist name=mainloop}
        		<div class="column" {if $smarty.foreach.mainloop.iteration % 2 !== 0}style="margin:0px;"{/if}>
		          <h4>{$newslist.class_info.class}</h4>
		          <ul>
		          	{foreach from=$newslist.datas item=news}
		            <li><a href="news.php?id={$news.id}&menuid={$news.uid}" target="_self" title="{$news.title_all}">{$news.title}</a></li>
		            {/foreach}
		          </ul>
		        </div>
		        {if $smarty.foreach.mainloop.iteration % 2 !== 0}<div class="clear"></div>{/if}
        	{/foreach}
        {/if}
      <div class="clear"></div>
      </div>
      <!--main_right_er end-->
    </div>
    
    <div class="clear"></div>
  </div>
  <!--main end-->
  {insert name="getFoot"}
</div>
</body>
</html>