<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中学网站列表页</title>
<link rel="stylesheet" href="./css/middle_css/style.css" type="text/css" />
</head>

<body>
<div class="big">
{insert name="getHead"}
 <!--nav end-->
 <!--breadcrumb-nav-->
 <div class="breadcrumb-nav">
    <ul >
        <li>当前位置:</li>
        <li><a href="index.php">首页</a></li>
        <li>></li>
    {foreach from=$menulist item=val}
    	<li><a href="class.php?id={$val.id}">{$val.class}</a>&nbsp;>>&nbsp;</li>
    {/foreach}
    </ul>
 </div>
        
    <!--breadcrumb-nav-end-->
 <!--main-->
   <div class="main">
   		
        
        <!--main_left-->
        <div class="sub-left">
        	<h4 class="sub-navtitle">{$menulist.0.class}</h4>
            <ul class="sub-nav-list">
            {if !empty($class_treelist)}
              {foreach from=$class_treelist item=tree}
            	<li><a href="class.php?id={$tree.id_all}">{$tree.class}</a></li>
            	{if !empty($tree.sub_list)}
	            	{foreach from=$tree.sub_list item=val}
	            	   <li style="margin-left:20px;"><a href="class.php?id={$val.id_all}">{$val.class}</a></li>
	                {/foreach}
                {/if}
              {/foreach}
            {else}
                <li>默认分类</li>
            {/if}
            </ul>
            <div class="sub-nav-bottom"></div>
        </div>
        <!--main_left end-->
    
        <!--main_right-->
    	<div class="sub-right">
        	<div class="sub-content">
            	<div class="sub-list-title"><span>{$current_class.class}</span></div>
                <div class="clear"></div>
            	<ul >
            	{foreach from=$news_arr item=news}
                	<li><a href="news.php?id={$news.id}">{$news.title}</a><span>{$news.date}</span></li>

                {/foreach}
                </ul>
              <!--分页新添样式  -->
		  	<div class="indexin22">
				<ul>
				<li>{$page}/{$pages}页</li>
				<li>共{$nums}条新闻</li>
				{if $page == 1}
				<li>首页</li>
				<li>上一页</li>	
				{else}
				<li><a href="?id={$id}&page=1">首页</a></li>
				<li><a href="?id={$id}&page={$page-1}">上一页</a></li>		
				{/if}
				{if $page == $pages || $nums == 0}
				<li>下一页</li>
				<li>尾页</li>	
				{else}
				<li><a href="?id={$id}&page={$page+1}">下一页</a></li>
				<li><a href="?id={$id}&page={$pages}">尾页</a></li>		
				{/if}
				</ul>
			</div>             
            </div>
            
            <div class="sub-content-bottom"></div>
        </div>

        <!--main_right end-->
        <div class="clear"></div>
   </div>
 <!--main end-->
<div class="clear"></div>
<!--foot-->
{insert name="getFoot"}

<!--foot end-->
</div>
</body>
</html>
