<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$system['name']}</title>
<link rel="stylesheet" href="css/middle_css/style.css" type="text/css" />
</head>

<body>
<div class="big">
{insert name="getHead"}
 <!--nav end-->
 <!--breadcrumb-nav-->
 <div class="breadcrumb-nav">
    <ul >
        <li>当前位置:</li>
        <li><a href="index.php">首页</a></li>
        <li>></li>
      {foreach from=$menulist item=val}
    	<li><a href="class.php?id={$val.id}">{$val.class}</a>&nbsp;>>&nbsp;</li>
    {/foreach}
    </ul>
 </div>
        
    <!--breadcrumb-nav-end-->
 <!--main-->
   <div class="main">
   	<div class="class-top"></div>
    <div class="class-list">
    	<table width="90%" border="0" cellspacing="0" cellpadding="0" class="class-grade">
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
              <tr>
                <th width="70" height="30" >一年级</th>
                <td width="52" ><a href="#" target="_blank">1班</a></td>
                <td width="52" ><a href="#" target="_blank">2班</a></td>
                <td width="52" ><a href="#" target="_blank">3班</a></td>
                <td width="52" ><a href="#" target="_blank">4班</a></td>
                <td width="52" ><a href="#" target="_blank">5班</a></td>
                <td width="52" ><a href="#" target="_blank">6班</a></td>
                <td width="52" ><a href="#" target="_blank">7班</a></td>
                <td width="52" ><a href="#" target="_blank">8班</a></td>
                <td width="52" ><a href="#" target="_blank">9班</a></td>
                <td width="52" ><a href="#" target="_blank">10班</a></td>
              </tr>
        </table>

    </div>
    <div class="class-bottom"></div>
   		
   </div>
 <!--main end-->
<div class="clear"></div>
<!--foot-->
{insert name="getFoot"}
<!--foot end-->
</div>
</body>
</html>
